<app-header></app-header>
<main class="p-5 animate-fade-down">
    <section class="w-1/2 flex flex-col gap-2 items-center justify-center mx-auto mb-10">
        <h1 class="text-3xl font-bold">Update Vehicle</h1>
        <form [formGroup]="updateVehicleForm" (ngSubmit)="updateVehicle()" class="flex flex-col w-full">
            <mat-form-field>
                <mat-label>Plate</mat-label>
                <input matInput placeholder="WVV-X65" formControlName="plate" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Toyota" formControlName="brand" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Model</mat-label>
                <input matInput placeholder="Corolla 2021" formControlName="model" />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Vehicle Type</mat-label>
                <mat-select formControlName="type">
                    @for (type of vehicleTypes; track $index) {
                    <mat-option [value]="type.value">{{type.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Client Owner</mat-label>
                <mat-select formControlName="owner">
                    @for (client of clients; track $index) {
                    <mat-option [value]="client.id">{{client.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <div class="w-full flex items-center justify-center gap-3">
                <button type="submit" mat-raised-button color="primary">Update</button>
                <button type="submit" mat-raised-button color="warn">Cancel</button>
            </div>
        </form>


    </section>
</main>