<main class="flex items-center justify-center size-full">
    <mat-card class="w-1/2 shadow-xl shadow-blue-300/50 flex flex-col items-center gap-4 p-2 animate-fade-down animate-duration-[750ms] animate-delay-[250ms] animate-ease-in">
        <mat-card-header>
            <mat-card-title class="text-4xl font-bold">Sigin In</mat-card-title>
            <mat-card-subtitle class="text-xl font-medium">UTXJ Parking</mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src="assets/ti-logo.webp" class="aspect-auto size-1/4 rounded-xl shadow-md mx-auto">
        <mat-card-content class="w-full flex gap-3 items-center justify-center">
            <form class="w-1/2 flex flex-col items-center justify-center">
                <mat-form-field class="w-full">
                    <mat-label>Username</mat-label>
                    <input matInput type="text">
                </mat-form-field>
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input matInput type="password">
                </mat-form-field>
                <button mat-raised-button color="primary">Login</button>
            </form>
        </mat-card-content>
        <mat-card-footer class="mt-3">
            <p class="text-neutral-500">Don't have an account? <a routerLink="/auth/register" class="text-blue-500 hover:underline cursor-pointer">Register</a></p>
        </mat-card-footer>
    </mat-card>
</main>
<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]"></div></div>