<app-header></app-header>
<main class="p-5 animate-fade-up">
  <section class="w-1/2 flex flex-col gap-2 items-center justify-center mx-auto mb-10">
    <h1 class="text-3xl font-bold">Create Employee</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()" class="flex flex-col w-full">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone Number" formControlName="phoneNumber" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required />
        @if (employeeForm.get('email')?.hasError('email')) {
        <mat-error>Correo electrónico no válido</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Create</button>
    </form>


  </section>
  <h1 class="text-2xl font-semibold mb-2">Employees:</h1>
  @if (employees.length > 0) {
  <section class="flex flex-wrap gap-5 justify-around">
    @for (employee of employees; track $index) {
    <app-page-item 
      type-card="employee"
      [title-card]="employee.name" 
      [id-card]="employee.id" 
      [content-card]="[
        {
          name: 'Phone Number',
          value: employee.phoneNumber
        },
        {
          name: 'Email',
          value: employee.email
        },
        {
          name: 'Address',
          value: employee.address
        },
        {
          name: 'Username',
          value: employee.username
        },
      ]" 
      class="w-1/4" />
    }
  </section>

  } @else {
  <h1 class="text-neutral-500">Don't exist current employees.</h1>
  }
</main>