<app-header></app-header>
<main class="p-5 animate-fade-up">
    <section class="w-1/2 flex flex-col gap-2 items-center justify-center mx-auto mb-10">
        <h1 class="text-3xl font-bold">Create Fee</h1>
        <form [formGroup]="feeForm" (ngSubmit)="saveFee()" class="flex flex-col w-full">
            <mat-form-field>
                <mat-label>Fee Name</mat-label>
                <input matInput placeholder="John Doe" formControlName="name" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Cost</mat-label>
                <input matInput placeholder="$15.00" formControlName="cost" required />
            </mat-form-field>

            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option [value]="true">Active</mat-option>
                    <mat-option [value]="false">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Create</button>
        </form>


    </section>
    <h1 class="text-2xl font-semibold mb-2">Fees:</h1>
    <section class="flex flex-wrap gap-5 justify-around">
        @for (fee of fees; track $index) {
            <app-page-item 
            type-card="fee"
            [title-card]="fee.name" 
            [id-card]="fee.id" 
            [content-card]="[
              {
                name: 'Cost',
                value: fee.cost
              },
              {
                name: 'Status',
                value: fee.status
              }
            ]" 
            (deleteClicked)="deleteFee($event)"
            class="w-1/4" />
        }
    </section>
</main>